.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;  /* 75% opacity black */
    color: #0f0f0f;
}
/* Красный фон для модального окна */

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #FFFFFF;
    margin-right: 3px;
}
.remember-forgot a{
    color: #000000;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
    color: #000000;
}
.remember-forgot a:active {
    text-decoration: none;
}
.register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.register-link p a{
    color: #000000;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
    text-decoration: underline;
    color: #000000;
}
.email{
    margin-bottom: 20px;
}
.varperr h1{
    font-size: 36px;
    text-align: center;
}
.btn{
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); /* Полупрозрачный фон */
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-content {
    background-color: #ffffff17 !important;
    backdrop-filter: blur(20px) !important;
}
#registerModal + .modal-backdrop.in {
    display: none;
}
.modal-backdrop {
    display: none !important;
    background-color: rgba(0, 0, 0, 0.7);
}
#newPasswordFields {
    display: none;
}
